.entry {
  border: 1px solid grey;
  overflow: hidden;
  text-wrap: nowrap;
  padding: 3px 5px;
  cursor: pointer;

  display: flex;
  flex-direction: row;

  &.selected {
    background-color: lightblue;
  }

  &.error {
    color: red;
  }
}
