.entry {
  border: 1px solid grey;
  overflow: hidden;
  text-wrap: nowrap;
  padding: 3px 5px;
  cursor: pointer;

  display: flex;
  flex-direction: row;

  &.selected::before {
    content: '';
    display: block;
    min-width: 10px;
    margin-right: 5px;
    background-color: blue;
  }

  &.error {
    background-color: lightcoral;
  }
}
